<div class="container">
  <nav class="navbar">
    <div class="window-icon">
      <div class="dot red"></div>
      <div class="dot green"></div>
      <div class="dot yellow"></div>
    </div>
    <div class="header">
      <div class="toggle-btn"><i class="fa-solid fa-chevron-left"></i></div>
      <div class="infor">
        <div class="avatar">
          <img src="https://i.pravatar.cc/40" alt="User Avatar" />
        </div>
        <div class="hello-name">
          Good Day👋<br />
          <strong>Name</strong>
        </div>
      </div>
    </div>
    <hr />
    <div class="menu">
      <div class="menu-header">Menu: 6</div>
      <ul class="menu-item">
        <li routerLinkActive="active" routerLink="/dashboard">
          <i class="fa-solid fa-table-columns"></i>
          <span>DashBoard</span>
          <i class="fa-solid fa-filter option-icon"></i>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-folder"></i>
          <span>My Project taks</span>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-calendar-days"></i>
          <span>Calendar</span>
          <i class="fa-solid fa-plus option-icon"></i>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-envelope"></i>
          <span>Mail</span>
          <div class="avatars">
            <img src="https://i.pravatar.cc/20?u=1" alt="user" />
            <img src="https://i.pravatar.cc/20?u=2" alt="user" />
          </div>
          <span class="badge">4</span>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-bell"></i> <span>Notification</span>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-cart-shopping"></i><span>Sales</span>
        </li>
      </ul>
    </div>
    <hr />
    <div class="services">
      <div class="menu-header">
        Service: 3
        <i class="fa-solid fa-pen"></i>
      </div>
      <ul class="service-item">
        <li routerLinkActive="active">
          <i class="fa-brands fa-jira"></i><span>Jira Software </span>
        </li>
        <li routerLinkActive="active">
          <i class="fa-brands fa-slack"></i><span>Slack</span>
        </li>
        <li routerLinkActive="active">
          <i class="fa-brands fa-intercom"></i><span>Intercom</span>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-plus"></i><span>Add new plugin</span>
        </li>
      </ul>
    </div>
    <div class="setting">
      <div class="menu-header">
        Setting: 6
        <i class="fa-solid fa-pen"></i>
      </div>
      <ul class="setting-item">
        <li routerLinkActive="active">
          <i class="fa-solid fa-list-check"></i>
        </li>
        <li routerLinkActive="active"><i class="fa-solid fa-sort"></i></li>
        <li routerLinkActive="active"><i class="fa-solid fa-user-tie"></i></li>
        <li routerLinkActive="active"><i class="fa-solid fa-chart-pie"></i></li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </li>
        <li routerLinkActive="active">
          <i class="fa-solid fa-circle-question"></i>
        </li>
      </ul>
    </div>
    <div class="create-task">
      <i class="fa-solid fa-plus"></i>
      <span><strong>Create new task</strong> <br /></span>
      <span class="use-link"> Or use <a href="#">Invite link</a></span>
    </div>
  </nav>
</div>
